# getting the Packages ready

In [1]:
import pandas as pd

# importing the datframe

In [2]:
import pandas as pd

# Specify the file path
file_path = "/home/oem/repos/data/Gowalla_totalCheckins.txt"

# Read the data into a DataFrame
df = pd.read_csv(file_path, sep='\t', header=None)

# Display the DataFrame
df

              0                     1          2          3        4
0             0  2010-10-19T23:55:27Z  30.235909 -97.795140    22847
1             0  2010-10-18T22:17:43Z  30.269103 -97.749395   420315
2             0  2010-10-17T23:42:03Z  30.255731 -97.763386   316637
3             0  2010-10-17T19:26:05Z  30.263418 -97.757597    16516
4             0  2010-10-16T18:50:42Z  30.274292 -97.740523  5535878
...         ...                   ...        ...        ...      ...
6442887  196578  2010-06-11T13:32:26Z  51.742988  -0.488065   906885
6442888  196578  2010-06-11T13:26:45Z  51.746492  -0.490780   965121
6442889  196578  2010-06-11T13:26:34Z  51.741916  -0.496729  1174322
6442890  196585  2010-10-08T21:01:49Z  50.105516   8.571525   471724
6442891  196585  2010-10-07T17:39:18Z  50.027812   8.785098  4555073

[6442892 rows x 5 columns]

In [3]:
df.columns

Index([0, 1, 2, 3, 4], dtype='int64')